body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-image: url('image.png'); 
    color: rgb(253, 253, 253);
    background-size: cover; 
    text-align: center;
}

.header-content { 
    flex: 1; 
    margin-top: 10px; 
    background: rgba(0, 0, 0, 0.699);
    font-size: 100%;    
}

.logo img {
    max-width: 20%; 
    height: auto;
    padding-right:85%
}

.logo_1 img{
    max-width: 9%;
    padding-top: 2%; 
}

.container{
    max-width: 1000%;
    margin: 0px auto;
}

#header{
    background-color: rgba(0, 0, 0, 0.699);
    justify-content: space-between; 
    align-items: center; 
}


nav{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 0;
}

#logo{
    padding: 5px 0px;
    padding-left: 0%;
}

#logo-img{
    max-width: 50px;
    height: auto;
}

#main-menu{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

}

#main-menu li{
    position: relative;
}

#main-menu li a{
    color: #f8f8f8;
    display: block;
    padding: 18px 20px;
    text-decoration: none;
}

#main-menu ul.sub-menu{
    position: absolute;
    background-color:#131921;
    padding: 15px 0px;
    list-style: none;
    width: 200px;
    border: 1px solid #434343;
    display: none;
    left: 50%;
}

#main-menu li:hover>ul.sub-menu{
    display: block;
}


#main-menu ul.sub-menu a{
    padding: 8px 15px;
    border-bottom: 1px solid #434343;
    left: 0;
}   

#main-menu ul.sub-menu li:hover>a{
    border-bottom: 1px solid #5f5f5f;
}

#main-menu ul.sub-menu li:last-child a{
    border: none;
}

#main-menu>li>a{
    position: relative;
}

#main-menu>li>a::before{
    content: "";
    height: 4px;
    width: 0px;
    background: red;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);

}

#main-menu>li:hover>a::before{
    width: 100%;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.custom-icon {
    width: 50px;
    height: 50px;
}
.camera {
    flex: 1;
    background-image: url('/Website\ -\ Sao\ chΘp/image\ fpt.webp');
    padding: 20px;
    box-shadow: 0px 0px 10px #888888;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.camera video {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-bottom: 10px;
}
.controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.camera button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
}
.camera button#fullscreen-button {
    background-color: #4caf50;
}

.gallery {
    flex: 1;
    background-color: rgb(184, 198, 191);
    padding: 20px;
    box-shadow: 0px 0px 10px #888888;
}

h2 {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    color:#fff;
}

#image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#image-gallery img,
#image-gallery video {
    max-width: 100%;
    max-height: 300px;
    margin: 10px;
}

#image-gallery img {
    max-width: 100%;
    max-height: 150px;
    margin: 5px 0;
}

footer {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 10px;
}




