<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>drag and drop</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


    <div class="hero">
        <label for="sortpicture" id="drop-area">
            <input type="file" accept="video/*,image/*" id="sortpicture" name="sortpic" hidden >
                <div id="img-view">
                    <img src="incon.png">
                    <p>Drag and drop or click here <br> to upload image</p>
                    <span>Upload any image from desktop</span>
                </div>
            </input>
        </label>
        <button id="upload">Upload</button>
    </div>
    <p id = "confident"></p>
    <p id = "class"></p>
    <img id = "result"></img>

    <script> 
        $('#upload').on('click', function() {
            var file_data = $('#sortpicture').prop('files')[0];
            var form_data = new FormData();
            form_data.append('image-name', file_data);

            $.ajax({
                url: '/upload', // Endpoint trong ứng dụng Flask
                dataType: 'json',  // Đặt kiểu dữ liệu để mong đợi từ máy chủ (JSON)
                cache: false,
                headers:{
                    Authorization: '123456'
                },
                contentType: false,
                processData: false,
                data: form_data,
                type: 'post',
                success: function(data) {
                    $('#class').html(`This picture is ${data.class}.`)
                    $('#confident').html(`The confident is ${data.confidence}.`)
                    let img_result = document.getElementById("result")
                    img_result.setAttribute('src', "data:image/png;base64," + data.image_result );
                },
                error: function(err) {
                    alert(err.responseText);
                }
            });
        });
    </script>

</body>
</html>