<!DOCTYPE html>
<html>
<head>
    <title>Electronic student handbook</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="logo_1">
            <img src="{{ url_for('static', filename='images/logo web-modified.png') }}" alt="Logo">
        </div>
        <div class="header-content">
            <h1>SỔ TAY SINH VIÊN ĐIỆN TỬ</h1>
        </div>
        <div>
            <div id="header">
                <nav class="container">
                    <a href="" id="logo">
                        <img src="{{ url_for('static', filename='images/plants-clipart-logo-4.png') }}" alt="ảnh logo" id="logo-img">
                   </a>
                    <ul id="main-menu">
                      <li><a href="http://127.0.0.1:5500">Home</a></li>
                      <li><a href="http://127.0.0.1:5500/Gioithieu">Introduction</a></li>
                      <li><a href="">Feature</a>
                            <ul class="sub-menu">
                            <li><a href="http://127.0.0.1:5500/camera">CAMERA</a></li>
                            <li><a href="http://127.0.0.1:5500/use_video">USE VIDEO</a></li>
                            <li><a href="http://127.0.0.1:5500/video">UPLOAD VIDEO</a></li>
                            <li><a href="http://127.0.0.1:5500/upload_img">UPLOAD IMAGE</a></li>
                            <li><a href= "http://127.0.0.1:5500/webcam">CAMERA DETECTION</a></li>
                        </ul>   
                      </li>
                      <li><a href="">Contact</a>
                            <ul class="sub-menu">
                            <li><a href="">0918193133</a></li>      
                      </li>
                    </ul>
                </nav>
            </div>
            <label style="background-color: rgb(31, 199, 31);" for="className">Enter Class Name:</label>
    <input type="text" id="className" name="name">
    <button id="submitButton" onclick="getRequest()">Get Script</button>

    <div id="result"></div>

    <script >
        function getRequest() {
            var className = document.getElementById("className").value;
            var xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var resultDiv = document.getElementById("result");
                    resultDiv.innerHTML = "<pre>" + this.responseText + "</pre>";
                     // Thay đổi màu nền của đoạn script đầu ra
                     resultDiv.style.backgroundColor = "lightgreen"; // Màu hồng xanh sáng, bạn có thể thay đổi thành màu khác
                     resultDiv.style.color = "black";

                     // Thay đổi kích thước chữ
                     resultDiv.style.fontSize = "20px";
                    // Thực hiện các thay đổi giao diện người dùng dựa trên kết quả nếu cần
                }
            };

            xhttp.open("POST", "/get_script", true);
            xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            var data = "name=" + encodeURIComponent(className);
            xhttp.send(data);
              // Thay đổi màu nền và màu chữ của nút button
              var submitButton = document.getElementById("submitButton");
            submitButton.style.backgroundColor = "lightgreen"; 
            submitButton.style.color = "white"; // Thay đổi màu chữ
        }
    </script>
        </div>
    </header>
    <main>
        <section class="big-section">
            <section>
                <h2>Plant</h2>
                <div class="image-container">
                    <img class="image2" src="{{ url_for('static', filename='images/image-modified.png') }}">
                    <img class="image2" src="{{ url_for('static', filename='images/thualahep.png') }}">
                    <img class="image2" src="{{ url_for('static', filename='images/Trang Son-modified.png') }}">
                </div>
            </section>
            <section>           
                <h2>Infrastructure</h2>
                <div class="image-container">
                    <img class="image2" src="{{ url_for('static', filename='images/fpt_ktx-view-01a-modified2.png') }}">
                    <img class="image2" src="{{ url_for('static', filename='images/fpt-modified2.png') }}">
                    <img class "image2" src="{{ url_for('static', filename='images/truong-modified.png') }}">
                </div>
            </section>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Sản Phẩm A302</p>
    </footer>
</body>
</html>
