<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>drag and drop</title>
         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
         
    </head>
    <body>
        <div class="div-form">  
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <!-- <input class="form-control form-control-lg" name="image-name" type="file" id="image_input" -->
                        <!-- accept=".jpg,.png,.jpeg"> -->


            <form method=post action="/upload" enctype=multipart/form-data>
                <center>
                    <label for="image_input" id="drop-area">
                        <input style="z-index: 1;" class="form-control form-control-lg" type="file" accept="video/*,image/*" id="image_input" name="image-name" accept=".jpg, .png, .jpeg" hidden >
                            <div id="img-view">
                                <img src="{{ url_for('static', filename='img_upload.jpg') }}">
                                <p>Drag and drop or click here <br> to upload image</p>
                                <span>Upload any image from desktop</span>
                            </div>
                        </input>
                    </label>

                </center>
                
                <center><button class="btn btn-outline-primary btn-block" type="submit" style="width: 90%; padding: 5%;"
                    >Predict</button></center>
            </form>

        </div>
        <script>
            // Lắng nghe sự kiện khi form tải lên hình ảnh được gửi đi
            document.getElementById("upload-form").addEventListener("submit", function (e) {
                e.preventDefault(); // Ngăn gửi lại trang
    
                var formData = new FormData(this);
    
                // Gửi tệp hình ảnh đến máy chủ
                fetch('/upload', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    // Lấy đường dẫn hình ảnh từ dữ liệu JSON và hiển thị nó
                    var resultImage = document.getElementById("result_image");
                    var imageResult = data.image_result;
    
                    resultImage.src = imageResult;
                    var imageResultDiv = document.getElementById("image-result");
                    imageResultDiv.style.display = "block"; // Hiển thị kết quả sau khi tải lên
                })
                .catch(error => console.error(error));
            });
        </script>
    </body>
</html>